/* Dark-Mode*/

.dark-mode {
 
    background-color: black;
    color: white !important;
    cursor: pointer;
    p {
        color: wheat!important;
    }
}

/* Modal*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 0 !important;
}
.b { 
    text-decoration: none;
    border: none;
    border-bottom: 1px solid whitesmoke;
    margin: 10px;
}
.pp{
    font-size: small;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.btnRose {
    background-color: #fb95c2;
    color: white;
}
.lien {
    text-decoration: none;
    color: rgb(210, 206, 206);
}
.btn-modal {
    display: flex;
    gap: 35px !important;
}

/* NavBar*/

.navb {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #e8e8E8;
    padding-top: 60px;
    transition: left 0.5s ease;
}
.menu:hover {
    color: #fb95c2 !important;
}
.navb a {
    padding: 8px 8px 8px 36px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s ;
}
.navb a:hover {
    color: #111;
}
.navb ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.navb.active {
    left: 0;
}
.navb.closes {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}
.btnDark {
    border: none;
}
.burger-icon {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

/*Animation de l'image section 1 */

.image {
    animation: up-down infinite alternate 2s;
}
@keyframes up-down {
    from 
        {
            transform: translateY(25px)
        }
    to 
        {
            transform: translateY(0px)   
        } 
} 

/*Couleur des bouttons*/

.btn {
    background-color: #fb95c2!important;
    color: white !important;
    border: none !important;
}
.btn1 {
    border: none !important;
    all: unset !important;
    display: inline-block !important;
    cursor: pointer !important;
}

/*Troisieme section*/

.carte {
    width: 300px;
    height: 350px !important;
    background-color: #f4f2f2 !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.carte:hover {
    background-color: rgb(248, 239, 156) !important;
}
.p-carte {
    background-color: white;
    height: 355px !important;
}
.btnCard {
    background-color: white !important;
    color: #fb95c2!important;
    border: 1px solid #fb95c2!important ;
}
.btnCard:hover {
    background-color: #fb95c2!important;
    color: white !important;
}
.prond {
    position: absolute;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    bottom: 130px;
    right: 110px;
    background-color: white;
    font-style: italic;
    font-weight:600 ;

}
.pp {
    margin: 6px;
}

/*Carousel*/

.bb {
    margin-top: 150px;
}

/*Quatrieme section*/

.trait-rose {
    color: #fb95c2;   
}

.bordure {
    border: 1px solid #fb95c2!important;
    width: 370px;
}

/*Cinquieme sections*/

.parent {
    width: 100%;
    height: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* overflow: visible; */
    position: relative;
    bottom: 100px;
}

/*Footer sections*/

.bgFooter {
    background-color: #363636 !important;
}
.footerGauche {
    margin-left: 60px;
}
.footerDroitH {
    margin-bottom: 56px;
}
.footBtn {
    margin-right: 30px;
    border-radius: 0 !important;
}
.iconColor {
    color: #fb95c2;
}
/* .inputBtn {
    margin-left: 170px;
    margin-bottom: 50px;   
} */
.inp {
    border-radius: 0 !important;
}
.btnFin {
    border-radius: 0 !important;   
}
.iconS {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white ;
    color: #363636;
    border-radius: 50%;
    /* position: relative;
    left: 240px;    */
}
.custom-width {
    display: block;
    width: 320px;
    margin-bottom: 30px; 
    border-color: #818181;
}
/* .newsL {
    margin-right: 180px;
} */
.titreF {
    width: 250px;
    margin-bottom: 30px;
}





.v {
    margin-bottom: 30px;
}
.z {
    margin-top: 22px;
}













